
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Nandu Ethoti</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<br>
<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/nandu.jpg' %}" >
					<hr>
					
					<h5><b> Kishore</b></h5><br>
					<h5 class="fa fa-mobile"> : +91-9014588646</h5><br>
					<h5 class="fa fa-envelope"> : nandulife25@gmail.com</h5>
						
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4 style="color:#09C7BE  ;"><u><b>My Technical Experience</b></u></b></h4>
					<hr>
					<p>Having 2 years experience as a <b>Web / Application Developer</b> with deep understanding of technology trends with expertise in core of complex technologies.</p>

					<p>Experienced in working with various Python IDE's <b>Pycharm, Atom,VSCODE, java using eclipse and android studio.</b></p>

					<p>Sound knowledge in <b>HTML, CSS, Python, Django</b> and <b>Flask</b>.</p>
					<p>Extensive development experience in <b>SQL</b>.</p>
					<p>Developed Web applications using <b>Django</b> and <b>Flask</b> frameworks. </p>

				<!--	<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>-->

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5 style="color:#09C7BE  ;"><u><b>My Experience as a Developer</b></u></h5>
					<hr>
					<p>Associate Softwate Engineer at <b>Xkanda Technologies Pvt. Ltd.</b></p>
					<p>Working with Xkanda Technologies Pvt. Ltd. from <b> June 2018 till now.</b></p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5 style="color:#09C7BE  ;"><u><b>What I Know</b></u></h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript, SQL and core JAVA</p>
					<p>Currently learning </b>Mongo DB</b> and <b>Machine Learning.</b></p>
				</div>
			</div>
		</div>
		<br><div class="row">
			<div class=" col-md-12 card card-body h-100">
				<h4 style="text-align: center; font-family: 'Comic Sans MS Bold'; color:#09C7BE"><b><u>Projects and Work History</u></b></h4>
			</div></div><br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					
					<h5><b><u>project:</u></b></h5><h5 style="color:#09C7BE  ;"><b> High-Rank</b></h5>
					
					<hr>
					<p><b><u>Project Duration:</u> April 2019 to till date</b></p>
					
					<h5><b><u>Description:</u></b></h5>

					<p>High-rank is a web based platform developed for conducting online objective / descriptive / coding examinations to the candidate and it can evaluate at a time, also we can schedule face to face interview using high-rank tool. Overall High-rank is a candidate assessment tool before hiring</p>
				
					<h5><u>Environment:</u></h5>
					<p>Python, Django, HTML, CSS, Bootstrap, JavaScript, jQuery, Web Services, VS code</p>
					<h5><b>Responsibilities :</b></h5>
					<p> • Performed CRUD operations using queries in MySQL <br>
						• Developed REST API for POST, GET, PUT & DELETE Operations<br>
						• Did unit testing and applied some CSS and Bootstrap for project.<br>
						• Developed functions in Django based on Application functionality. 
					</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5><b><u>project :</u></b></h5><h5 style="color:#09C7BE  ;"><b> Fake Product Review Monitoring System</b></h5>
					
					<hr>
					
					<p><b><u>Project Duration:</u> August 2018 to Feb 2019</b></p>
					<h5><b><u>Description:</u></b></h5>

					<p>Its is a web based system application. This project mainly discuss about the Product reviews, how to remove Fake Reviews based on genuine review by taking unique identification.</p>
					<h5><b><u>Environment:</u></b></h5>
					<p>JAVA, HTML, CSS, Eclipse, Java fx, MySql , xml.</p>
					<h5><b><u>Responsibilities:</u></b></h5>
					<p> • Developed UI/Web Pages in HTML/CSS<br>
						• Built SQL Queries based on project requirement<br> 
						• Developed DB Utilities in  MySQL <br>
						• Used logging module for log functions.<br>
						• Developed functions in Java based on Application functionality with Java fx  features.
					 
					</p>
				</div>
			</div>
		</div>
		<br>

		
		<br>
	</div>


</body>
</html>